- scripts = getBlock("scripts")
- css = getBlock("styles")
- css.add("vendor/bootstrap-twitter/css/bootstrap.min.css");
- var col = getCollection("stylesheet").findAll({isDocument:true}).toJSON();
- col.forEach(function(page){ var url;
-    url = page.url;
-    url = url.substr(1); // remove starting "/"
-    css.add(url)
- });


doctype 5
html
  head
    meta(http-equiv="Content-Type",        content="text/html; charset=UTF-8")
    meta(http-equiv='Content-Script-Type', content='text/javascript')
    meta(http-equiv='Content-Style-Type',  content='text/css')
    meta(http-equiv='Content-Language',    content='fr')
    link(rel="shortcut icon",   href="")
    meta(name="robots", content="noindex, nofollow")
    title #{document.title}
    != getBlock("meta").toHTML()
    script(src="vendor/require-js/require-jquery.js", data-main="scripts/main.js")
    != css.toHTML()

  body
    != content
    != scripts.toHTML()
